@import url(Caladea/Caladea-BoldItalic.ttf);
*{
    padding: 0%;
    margin: 0%;
    
    
}

body{
    font-family: Caladea, sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: url(Images/download.jpeg);
    background-size: cover;
    position: relative;
}



.nav{
    width :1400px;
    height: 150px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
    

}
.nav .logo{
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1.3px;

}
.nav .menu{
    width: 45%;

}
.nav .menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .menu ul li{
    list-style: none;
}
.nav .menu ul li a{
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: white;
    text-decoration: none;


}
    .nav .menu .active{
        color: red;
    }
    .banner-clip-path{
       position: absolute;
       width: 100%;
       height: 100%;
       clip-path: polygon(0 0,25% 0,50% 100%,0% 100%);
       background-image: url(Images/images3.jpeg);
       background-size: cover;
       z-index: 2;

    }
    
    
    .banner-txt{
        width: 58%;
        position: absolute;
        top: 50%;
        left: 57%;
        font-size: 60px;
        text-transform: uppercase;
        color: white;
        transform: translate(-13%,-50%);
    }
    .h1{
        
        
        color: rgba(255, 0, 0, 0.477);
        font-size: 120px;
    }
    .banner-txt button{
        width: 170px;
        height: 40px;
        background-color: red;
        color: #eee;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        border-radius: 10px;
        border: none;
        font-family: 'caladea';
    }
    .banner-txt button:hover {
        background-color:aqua;
        color: black;

    }
    .ronaldo{
        position: absolute;
        width: 800px;
        top: 57%;
        left: 13%;
        transform: translate(-50%, -50%);
        z-index: 5;
        cursor:alias;
    

    }
    .beckham{
        position: absolute;
        width: 1050px;
        top: 55%;
        left: 30%;
        transform: translate(-50%, -50%);
        z-index: 5;
        
    }
    
    .beckham img{
        width: 100%;
    }
    .ronaldo img{
        width: 100%;
    }
    .mulogo{
        position:absolute;
        width: 45px;
        left: 26%;
        top: 90%;
        size: 30%;
        z-index: auto;
    }

    /*.about{
        text-decoration: underline;
        text-decoration-color: red;
        text-decoration-style: solid;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        font-size: 80px;
        font-style: normal;
        font-weight: 200;
        top: 100%;
    }
